@font-face {
    font-family: ennio;
    src: url(EnnioFY-bold.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(RobotoCondensed-Regular.ttf);
  }

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

/** start steph **/
body {
    margin: 5% 10%;
}

header {
    background-color:#FEF200;
    border: 3px solid black;
    padding: 25px;
}
.title {
    text-align: center;
    font-family: ennio;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 400%;
}
.subheader {
    text-align: center;
    font-family: robotoCondensed;
    font-size:125%;
    text-transform: uppercase;
}

.content {
    border: 3px solid black;
    margin-top: 20px;
    min-height: 500px;
    padding:5%;
}


/** end steph **/


.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
border-radius: 0;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
    background-color: #4285F4;
    border: none;
    border-radius:0;
    font-family:ennio;
}
.step-links a{
color: #4285F4;
}