@font-face {
    font-family: ennio;
    src: url(../fonts/EnnioFY-bold.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
  }

.hidden {
    display: none;
}

.global-search {
    padding: 20px 0;
    text-align:center;
}


body {
    margin: 5% 10%;
}


.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.subheader {
    text-align: center;
    text-transform: uppercase;
}


#error-msg {
    font-size: 30px;
}

#output-container {
    text-align:center;
}


.output-list {
    text-align: left;
    display: inline-block;
}


/** AUTOFILL DROPDOWN **/
.custom-musical-input {
    position: relative;
    display: inline-block;
  }
  .custom-musical-input {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-musical-input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
  }