@font-face {
    font-family: ennio;
    src: url(../fonts/EnnioFY-bold.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
  }

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}


body {
    margin: 5% 10%;
}

header {
    background-color:#FEF200;
    border: 3px solid black;
    padding: 25px;
}
.title {
    text-align: center;
    font-family: ennio;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 400%;
}
.subheader {
    text-align: center;
    font-family: robotoCondensed;
    font-size:125%;
    text-transform: uppercase;
}

.content {
    border: 3px solid black;
    margin-top: 20px;
    min-height: 500px;
    padding:5%;
}

#error-msg {
    font-size: 30px;
    font-family:ennio;
}

#output-container {
    text-align:center;
}

.ennio-font {
    font-family:ennio;
}
.output-list {
    font-size: 205%;
    font-family: robotoCondensed;
    text-align: left;
    display: inline-block;
}


/** AUTOFILL DROPDOWN **/
.custom-musical-input {
    position: relative;
    display: inline-block;
  }
  .custom-musical-input {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-musical-input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

}