@font-face {
    font-family: ennio;
    src: url(../fonts/EnnioFY-bold.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
  }

.hidden {
    display: none;
}

.global-search {
    padding: 20px 0;
    text-align:center;
}


body {
    margin: 5% 10%;
}


.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.subheader {
    text-align: center;
    text-transform: uppercase;
}


#error-msg {
    font-size: 30px;
}

#output-container {
    text-align:center;
}


.output-list {
    text-align: left;
    display: inline-block;
}


/* materialize card overrides */
.card .card-content {
    height: 150px;
    overflow: scroll;
}

.card .card-title {
    font-size: 18px;
}

.card .invisible {
    -webkit-box-shadow: 0; 
    box-shadow: 0;
}