<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <!-- HEADER  -->
        <header>
            <h1 class='title'>
                {{ name }}
            </h1>
            <h4 class='subheader'>
                {{ netid }}
            </h4>
        </header>
        
        <!-- BODY CONTENT -->
        <div class='content'>
            <!-- input -->
            <div class="form-inline global-search">
                <div class="form-group">
                    <input id="musical-input" type="text" name="search" class="form-control" placeholder="broadway show">
                </div>
                <button id="search-btn" class="btn btn-info"> 
                    BRING IT! 
                </button>
            </div>
        
            <!-- output -->
            <div id='output-container'>
                <form class="form-inline global-search" id='results'>
                    <h2 id='output-msg'>
                        Because you like <i>{{query_title}}</i>, you might also like:
                    </h2>
                    <div class='output-list'>
                    {% for d in data %}  
                        <br>
                        <p>{{d}}</p>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        

        <!-- jquery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">

            var outputMessage = document.getElementById("output-msg");
            outputMessage.style.display = 'none';
            outputMessage.style.fontFamily = 'ennio';

            $('#search-btn').click(function(){
                console.log('clicked')
                query = document.getElementById('musical-input').value;
                if(query) {
                    // show output message
                    outputMessage.style.display = 'block';

                    query = encodeURIComponent(query.trim())
                    console.log(query)
                    let url = window.location.href + '?search=' + query;
                    
                    $('#output-container').load(url + ' #output-container');
                } else {
                    outputMessage.style.display = 'none';
                }
            });

        </script>

    </body>
</html>

